.header {
  padding-bottom: 0px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}

.toggle,
.reset,
.revert {
  width: 35px;
  height: 40px;
  right: 0;
  top: 10px;
  position: absolute;
  background: #121212;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}

.toggleHidden {
  width: 40px;
  height: 40px;
  right: -25px;
  transition: 0.5s;
}

.reset {
  right: 65px;
}

.revert {
  right: 35px;
}

.icon {
  transition: 0.3s;
}

.iconHidden {
  transform: rotate(180deg);
  transition: 0.3s;
}
