.header {
  position: relative;
  flex-shrink: 0;
  padding: 12px 14px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.35;
}

.toggle,
.reset,
.revert {
  width: 28px;
  height: 32px;
  padding: 2px;
  flex-shrink: 0;
  color: #fff;
  transition: 0.3s;
}

.toggleHidden {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: -30px;
  background: #121212;
  border-radius: 0 20px 20px 0;
}

.icon {
  transition: 0.3s;
}

.iconHidden {
  transform: rotate(180deg);
}

@media (max-width: 360px) {
  .heading { font-size: 16px; }
}
