.popupContainer {
  width: 145px;
}

.popupWrapper {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.button {
  font-size: 8px;
}
