:root {
  --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3)
    hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #121212;
}

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #e3f2fd;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #e3f2fd;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.leaflet-bar a {
  background-color: #121212;
  border: none;
  color: #fff;
  box-sizing: border-box;
}

.leaflet-bar a:hover {
  background-color: #121212;
  border: 1px solid #e3f2fd;
  color: #fff;
  box-sizing: border-box;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.leaflet-container .leaflet-control-attribution {
  background-color: #121212;
  color: #fff;
}

.leaflet-tooltip {
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

.leaflet-tooltip-left:before {
  border-left-color: #121212;
}

.leaflet-tooltip-right:before {
  border-right-color: #121212;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip-container {
  opacity: 0.9;
}

.leaflet-popup-tip-container {
  z-index: -1;
}

.leaflet-popup-content {
  margin: 0;
  padding: 6px;
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  opacity: 0.5;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive.leaflet-marker-draggable {
  opacity: 1;
}

.leaflet-control-attribution.leaflet-control {
  border-radius: 20px;
}

.leaflet-pane .leaflet-shadow-pane .leaflet-zoom-animated .leaflet-interactive {
  filter: drop-shadow(-1px -2px 0px #000) drop-shadow(1px -1px 0px #000)
    drop-shadow(1px 2px 0px #000) drop-shadow(-1px 1px 0px #000);
}

.leaflet-tile {
  filter: var(--leaflet-tile-filter, none);
}
