.tooltip {
  opacity: 1;
  background: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: -25px;
  color: #fff;
}

.tooltip:before {
  border: none;
}

.singleDigitOffset {
  right: -30px;
}

.doubleDigitOffset {
  right: -43px;
}
